
<div class="row-fluid">

  <div class="span12">
    <div class="span3">&nbsp;</div>
    <div class="span6">
      <div class="sign-in-container">
        <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'login-wrapper'}, :wrapper => :bootstrap_moon_blue) do |f| %>
            <div class="header">
              <div class="row-fluid">
                <div class="span12">
                  <h3>Register<img src="/img/logo1.png" alt="Logo" class="pull-right"></h3>

                  <p>Fill out the form below to login.</p>
                </div>
              </div>
            </div>
            <div class="content">
              <%= f.error_notification %>
              <%= f.input :email, :placeholder => 'Email', :input_html => {:class => 'span12'},:required => true, :autofocus => true %>
              <%= f.input :password, :placeholder => 'Password', :input_html => {:class => 'span12'}, :required => true %>
              <%= f.input :password_confirmation, :placeholder => 'Password Confirmation', :input_html => {:class => 'span12'}, :required => true %>
            </div>
            <div class="actions">
              <%= f.button :submit, 'Sign up', :class => 'btn-primary' %>
              <div class="clearfix"></div>
            </div>
            <div class="content">
              <div class="row-fluid">
                <div class="span12">
                  <h3>Or You Can Connect with Social Network</h3>
                  <ul class="fancy-tooltip-wrapper">
                    <li>
                      <a class="tooltip-facebook" href="/auth/facebook">
                        <span> Facebook </span>
                      </a>
                    </li>
                    <li>
                      <a class="tooltip-twitter" href="/auth/twitter">
                        <span> Twitter </span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
        <% end %>

      </div>
    </div>
    <div class="span3">&nbsp;</div>
    <div class="clearfix"></div>
  </div>
</div>
