<div class="top-nav">
  <ul>
    <li>
      <a href="/" class="<%= 'selected' if controller_name =='profile' %>">
        <div class="fs1" aria-hidden="true" data-icon="&#xe0a0;"></div>
        Dashboard
      </a>
    </li>
    <li>
      <a href="/mailbox" class="<%= 'selected' if controller_name =='mailbox' %>">
        <div class="fs1" aria-hidden="true" data-icon=""></div>
        Mailbox
      </a>
    </li>
    <li>
      <a href="/glucose_data" class="<%= 'selected' if controller_name =='glucose_data' %>">
        <div class="fs1" aria-hidden="true" data-icon=""></div>
        Upload Data
      </a>
    </li>
    <li>
      <a href="/challenges" class="<%= 'selected' if controller_name =='challenges' %>">
        <span class="fs1" aria-hidden="true" data-icon=""></span>
        Challenges
      </a>
    </li>
    <li>
      <a href="/tasks" class="<%= 'selected' if controller_name =='tasks' %>">
        <div class="fs1" aria-hidden="true" data-icon=""></div>
        Todo List
      </a>
    </li>
    <li>
      <!--<a href="graphs.html">-->
      <!--<div class="fs1" aria-hidden="true" data-icon="&#xe096;"></div>-->
      <!--Graphs-->
      <!--</a>-->
      <!--</li>-->
      <!--<li>-->
      <!--<a href="ui-elements.html">-->
      <!--<div class="fs1" aria-hidden="true" data-icon="&#xe0d2;"></div>-->
      <!--UI Elements-->
      <!--</a>-->
      <!--</li>-->

      <!--<li>-->
      <!--<a href="tables.html">-->
      <!--<div class="fs1" aria-hidden="true" data-icon="&#xe14a;"></div>-->
      <!--Tables-->
      <!--</a>-->
      <!--</li>-->
      <!--<li>-->
      <!--<a href="media.html">-->
      <!--<div class="fs1" aria-hidden="true" data-icon="&#xe00d;"></div>-->
      <!--Media-->
      <!--</a>-->
      <!--</li>-->
    <li>
      <a href="/calendar" class="<%= 'selected' if controller_name =='calendar' %>">
        <div class="fs1" aria-hidden="true" data-icon="&#xe052;"></div>
        Calendar
      </a>
    </li>
    <!--<li>-->
    <!--<a href="typography.html">-->
    <!--<div class="fs1" aria-hidden="true" data-icon="&#xe100;"></div>-->
    <!--Typography-->
    <!--</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="edit-profile.html">-->
    <!--<div class="fs1" aria-hidden="true" data-icon="&#xe0aa;"></div>-->
    <!--Extras-->
    <!--</a>-->
    <!--</li>-->
  </ul>
  <div class="clearfix">
  </div>
</div>
